.c-Article--modal .c-Modal__innerWrapper {
	max-width: 100% !important;
	width: 76vw;
	max-height: 100% !important;
	height: 80vh;
}

.c-Article--sidebar {
}
#fullArticle figure {
	margin-left: 4px;
	margin-right: 4px;
}
.c-Article--modal #fullArticle figure.wp-block-table {
	margin-left: -4px;
	margin-right: -4px;
}
.c-Article--modal #fullArticle figure {
	margin-left: 20px;
	margin-right: 20px;
}
.c-Article--modal #fullArticle h2,
.c-Article--modal #fullArticle h3,
.c-Article--modal #fullArticle h4,
.c-Article--modal #fullArticle .wp-block-coblocks-alert {
	clear: both;
}
#fullArticle figure figcaption {
	font-style: italic;
	font-size: smaller;
	opacity: 0.8;
	text-align: center;
	margin-top: -16px;
}
#fullArticle img[class^='wp-image-'] {
	height: auto !important;
}
#fullArticle p > img[class^='wp-image-'] {
	display: inline;
	margin: 0 0.2em;
}
#fullArticle .wp-block-coblocks-alert {
	background: rgb(214, 237, 255);
	border-left: 3px solid rgb(87, 176, 251);
	border-radius: 2px;
	margin: 0px 0px 2em;
	padding: 1.2em 1em 1em;
	font-weight: 500;
}
#fullArticle .wp-block-coblocks-alert.is-style-success {
	background: rgb(228, 251, 230);
	border-left: 3px solid rgb(129, 220, 158);
}
#fullArticle .wp-block-coblocks-alert.is-style-warning {
	background: rgb(255, 246, 226);
	border-left: 3px solid rgb(255, 213, 109);
}
#fullArticle .wp-block-coblocks-alert.is-style-error {
	background: rgb(255, 227, 226);
	border-left: 3px solid rgb(244, 91, 85);
}
#fullArticle .wp-block-coblocks-alert .wp-block-coblocks-alert__title {
	font-size: 1.2em;
	font-weight: 500;
	margin: 0px 0px 0.3em;
}
#fullArticle .wp-block-coblocks-alert .wp-block-coblocks-alert__text {
	margin: 0px 0px 0.3em;
}

#fullArticle a {
	color: #2bb3e7;
}
#fullArticle .wp-block-embed__wrapper iframe {
	height: auto;
}
#fullArticle .alignright {
	float: right;
	margin-left: 2em;
	max-width: 40%;
}
#fullArticle .alignright .c-Content__imagePreview,
#fullArticle .alignleft .c-Content__imagePreview {
	margin-top: 0 !important;
}
#fullArticle .alignleft {
	float: left;
	margin-right: 2em;
	max-width: 40%;
}
#fullArticle .footnote {
	font-size: 11px;
	opacity: 0.6;
	border-top: 1px solid;
	margin: 0 !important;
	position: relative;
	bottom: 0;
	margin-top: 5em;
}
#fullArticle figure.wp-block-video,
#fullArticle figure.wp-block-embed {
	display: flex;
	justify-content: center;
	margin: 20px -20px;
	position: relative;
	max-width: calc(100% + 40px);
}
